/*Mobile First*/
/*Estilos Generales*/
*{
    margin: 0;
}
body{
    background-image: url('../img/ignasi_pattern_s.png');
}
@font-face {
    font-family: "Jaro";
    src: url("../Fonts/Jaro-Regular-VariableFont_opsz.ttf");
}
h1{
    background-color: #F0DB4F;
    display: inline-block;


    animation: bounce; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s; /* don't forget to set a duration! */
}
p{
    font-family: "Jaro";
}
 /*Estilo HEADER*/
 header{
    border: 2px solid gold;

} 
.logo{
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-content: center;
}
img{
    border: 2px solid black;
}
.menu{
    border: 2px solid green;
    
}
ul{
    display: flex;
    list-style-type: none;
    padding-inline-start: 0;
    border: 2px solid red;
    height: 100%;
}
li{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
a{
    text-decoration:none;
    font-size: 18px;
    font-weight: 600;
    font-style:italic;
    color: black;
    transition: 2s;
    display: inline-block;
}

a:hover.hover-html{
    transform: scale(1.5);
    color: #FC490B;
    transition: 1s;
}
a:hover.hover-css{
    transform: scale(1.5);
    color:deepskyblue;
    transition: 1s;
}
a:hover.hover-javascript{
    transform: scale(1.5);
    color:#F0DB4F;
    transition: 1s;
}
a:hover.hover-git{
    transform: scale(1.5);
    color:#F05033;
    transition: 1s;
}
a:hover.hover-linux{
    transform: scale(1.5);
    color:#FDFDFB;
    transition: 1s;
}
a:hover.hover-sass{
    transform: scale(1.5);
    color:#CE679A;
    transition: 1s;
}

input{
    display: none;
}
label{
    padding:10px;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color:orange;
    cursor: pointer;
}
/*                                      ARCHIVO CSS.HTML                            */
span.underline{
    color: chartreuse;
    font-size: 20px;
    font-weight: 600;
    text-decoration: underline;
}
span.line-through{
    color: blue;
    font-size: 20px;
    font-weight: 600;
    text-decoration: line-through;
}

section.imagen-header{
    background-image: url('../img/Css_image.jpg');
    background-repeat:no-repeat;
    background-size: 100% 100%;
    height: 50vh;
}
p.codigo-queries{
    display: flex;
    flex-direction: column;
    align-items: flex-start ;
}

/*DESKTOP DESIGN sirve para dar diseño cuando cambie el valor de la pantalla*/
@media only screen and (min-width:600px) {

    header{
        display: flex;
    }
    .logo{
        width: 30%;
    }
    .menu{ 
        width:70% ;
    }
    ul{
       display: flex; 
       align-items: center;
       justify-content:space-around;
       height: 100%;
    }
    ul.apuntes{
        display: flex;
        flex-direction: column;
        align-items: flex-start ;
    }
}
