/*Mobile First*/
/*Estilos Generales*/
*{
    margin: 0;
}

@font-face {
    font-family: "Jaro";
    src: url("../Fonts/Jaro-Regular-VariableFont_opsz.ttf");
}
p{
    font-family: "Jaro";
}
 /*Estilo HEADER*/
 header{
    border: 2px solid gold;

} 
.logo{
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-content: center;
}
img{
    border: 2px solid black;
}
.menu{
    border: 2px solid green;
    
}
ul{
    list-style-type: none;
    padding-inline-start: 0;
    border: 2px solid red;
}
li{
    border: 2px solid black;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
a{
    text-decoration: none;
    font-size: 24px;
    font-weight: 600;
    font-style: italic;
    color: black;
}
a:hover{
    font-size: 48px;
    color:deepskyblue;
    transition: 1s;
}

/*DESKTOP DESIGN sirve para dar diseño cuando cambie el valor de la pantalla*/
@media only screen and (min-width:600px) {
    body{
        background-color: darkcyan;
    }
    header{
        display: flex;
    }
    .logo{
        width: 30%;
    }
    .menu{ 
        width:70% ;
    }
    ul{
       display: flex; 
       align-items: center;
       justify-content:space-around;
       height: 100%;
    }
}
